[submodule "site/themes/hugo-theme-even"]
	path = site/themes/hugo-theme-even
	url = https://github.com/olOwOlo/hugo-theme-even
[submodule "site/themes/hugo-eureka"]
	path = site/themes/hugo-eureka
	url = https://github.com/wangchucheng/hugo-eureka.git
